<!DOCTYPE html>
<html>
<head>

    <title>GROOM</title>
	
	<script type = "text/javascript" src = ".\scripts\jquery-3.5.0.js"></script>
	<script type = "text/javascript" src = ".\scripts\bootstrap.min.js"></script>
    
	<script type = "text/javascript" src = "..\http\requests\LoginRequest.js"></script>
	<script type = "text/javascript" src = "..\scripts\login.js"></script>

	<link type = "text/css" href = "..\stylesheets\login.css" rel = "stylesheet"></link>
	<link type = "text/css" href = ".\stylesheets\bootstrap.min.css" rel = "stylesheet"></link>

	<link type = "text/css" href = "https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel = "stylesheet"></link>
    <link href = "https://fonts.googleapis.com/css?family=Press+Start+2P" rel = "stylesheet"> 

</head>
<body>

	<div id = "wrapper" class = "container-fluid">
		<div id = "form" class="nes-container is-dark with-title">
			<p class="title">create-room</p>

			 <div id = "form-inside" class = "nes-container is-dark" style = "margin: 50px auto !important">

				<h3>
					GROOM - ekran logowania WIP
				</h3>
				<div class = "nes-field is-inline">
					<label for = "formLogin">Login</label>
					<input type = "text" class = "nes-input is-dark" id = "formLogin" aria-describedby = "emailHelp" placeholder = "Login" name = "login">

				</div>
				<div class = "nes-field is-inline">
					<label for = "formPass">Hasło</label>
					<input type = "password" class = "nes-input is-dark" id = "formPass" placeholder = "Hasło" name = "pass">
				</div>
				<button id = "loginBtn" class = "nes-btn is-success">Zaloguj</button>

			</div>
		</div>
	</div>
		
</body>
</html>