<!DOCTYPE html>
<html>
<head>

    <title>Login</title>
	
	<script type = "text/javascript" src = "..\scripts\jquery-3.5.0.js"></script>
	<script type = "text/javascript" src = "..\scripts\bootstrap.min.js"></script>
    
    <script type = "text/javascript" src = "\socket.io\socket.io.js"></script>
    <script type = "text/javascript" src = "..\scripts\rooms.js"></script>

	<link type = "text/css" href = ".\stylesheets\bootstrap.min.css" rel = "stylesheet"></link>

</head>
<body>
    Rooms
</body>