html, body {
    height: 100%;
    margin: 0;

    background-color: #212529 !important;
}

#wrapper {
    min-height: 100%;

    background-color: #212529;
}

#size-wrapper {
    height: 100vh;
}

.left-screen-wrapper {
    height: 99%;

    padding-top : 2px;
    padding-left : 4px;
    padding-right: 2px;
}

.right-screen-wrapper {
    height: 99%;

    padding-top : 2px;
    padding-left : 2px;
    padding-right: 4px;
}

/* UPDATES FOR NES FRAMEWORK */

.nes-container {
    margin : 0 !important;
}