@font-face {
    font-family: 'PressStart2P';
    src: url('/fonts/PressStart2P-Regular.ttf');
}

.user-list {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    margin: 0;
}

#user-list-inside {
    height: 100%;
    position: relative;
}

#user-list-inside-userlist {
    position: absolute;
    top: 0;
}

.user-list-element {
    width: 100%;
}

#user-list-inside-controls {
    position: absolute;
    bottom: 0;
}

.game-screen {
    height: 100%;
    width: 100%;
}

#game-screen-canvas {
    display: block;
    margin: auto;
    border: 4px solid white;
}

#endgame-window {
    position: fixed !important;
    top: 25%;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;

    border: 4px solid white;
    background-color: #212529;

    height: 200px;
    width: 600px;

    color: white;
    text-align: center;
}